/vendor
/node_modules
Homestead.yaml
.env
_ide_helper.php
/.idea
/resources/components
/public/build
/public/css/app.*
/public/css/vendor.*
/public/js/app.*
/public/js/vendor.*
/public/fonts/fontawesome*
/public/fonts/glyphicons*
/public/vendor