/vendor
/node_modules
Homestead.yaml
.env*
_ide_helper.php
/storage/database.sqlite
/.idea
/resources/components
/public/build
/public/css/app.*
/public/css/vendor.*
/public/js/app.*
/public/js/vendor.*
/public/fonts/fontawesome*
/public/fonts/glyphicons*
/public/vendor
tests/_output/*
tests/_output/*