@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';

html, body { margin: 0; padding: 0; height: 100%; }
html {
  background: url('/images/bg.jpg') no-repeat center center fixed #efece2;
  background-size: cover;
}

body {
  background-color: transparent;
}

.main-wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 80px;
}

footer {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  position: absolute;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  @media (min-width: $screen-sm-min){
    padding-right: 30px;
    padding-left: 30px;
  }
}

#map-front {
  height: 640px;
  width:100%;
  background-color: #efece2;

  @media (max-width: $screen-lg-min) {
    height: 580px;
  }

  @media (max-width: $screen-sm-max) {
    height: 480px;
  }
  @media (max-width: $screen-xs-max) {
    height: 350px;
  }
}

#deluagara {
  .colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }

  .panel-wrapper {
    outline: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    position: relative;
    @media (min-width: $screen-sm-min){
      margin-left: -8px;
      margin-right: -8px;
    }

    .button-edit {
      position: absolute;
      top: 0;
      right: 0;
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 2em;
      padding: 5px;
      z-index: 2;
    }
  }

  .distribution-count {
    color: #2CCA2C;
    font-weight: normal;
    background-color: white;
  }

  .select2-selection {
    height: 39px;
    padding: 8px 24px 8px 12px;
    font-size: 15px;
    font-family: inherit;
  }

  .mini-info {
    i {
      color: #E02020;
    }
  }

  .pagination {
    li {
      background-color: white;
      a {
        background-color: inherit;
      }
    }
  }

}